@charset "UTF-8";
body {
    font-family: 'Noto Sans Japanese', "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin: 0 auto; /* ページ全体を中央配置 */
	font-size: 13px; /* 基本文字サイズ */
	text-rendering : optimizeLegibility; /* ブラウザーは速さや位置の正確さよりも、読みやすさを強調します。カーニングを有効にし、合字は任意 */
	background-color: #F2F2F2; /* 背景色 */
}

/* 各種タイトルの文字サイズ */
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
}

#header {
	height: 38px;
	margin: 0 auto; /* 中央配置 */
	position: relative; /* 相対位置への配置 */
	background-color: #4169e1; /* 背景色 */
	display: flex;/* 直下の要素を並列指定 */
}

#header_logo {
	width: 132px;
	height: 33px;
	background-color: #FFFFFF;

	margin-top: 2px;
	margin-left: 6px;

	display: flex;
	/* 横並び・左から右 */
	flex-direction: row;
	/* 折り返しなし・単一行 */
	flex-wrap: no-wrap;
	/* 垂直方向中央揃え */
	align-items: center;

	/* box-shadow */
/*	box-shadow:0px 0px 6px 3px rgba(0,0,0,0.1);
	-moz-box-shadow:0px 0px 6px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 0px 6px 3px rgba(0,0,0,0.1);
*/
	/* border-radius */
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}
#header_logo a {
	font-weight: bold;
	/* リンク文字色 */
	color: #4169e1;
	/* リンク下線 */
	text-decoration: none;
}

#logo_wrapper {
	display: flex;
	/* 横並び・左から右 */
	flex-direction: row;
	/* 折り返しなし・単一行 */
	flex-wrap: no-wrap;
	/* 垂直方向中央揃え */
	align-items: center;
}
#header-img1 {
	margin: 0 0 0 5px;
	padding: 0 0 0 0;
}

#logo_name {
	font-size:150%;
	margin: 0px 0px 0px 6px;
}

#navigation_bar {
	height: 90%;
	margin: 0 auto;
}

#nav {
	height: 100%;
	margin: 2px 0 0 8px;
	list-style: none;
	display: flex;
	/* 横並び・左から右 */
	flex-direction: row;
	/* 折り返しなし・単一行 */
	flex-wrap: no-wrap;
	/* 垂直方向中央揃え */
	align-items: center;
	/* リンク文字色 */
	color: #FFFFFF;
}
#nav a {
	text-decoration: none;
	/* リンク文字色 */
	color: #FFFFFF;

	font-weight: bold;
}
#nav a:hover {
	text-decoration: none;
	/* リンク文字色 */
	color: #4169e1;
	/* リンク背景 */
	background-color: #FFFFFF;
}
#nav li {
	padding: 0.2rem 1.5rem 0.2rem 1.5rem;
	font-size: 90%;
}

.nav_left {
	border-right: solid #FFFFFF 1px;
}

#main {
	/* width: 1200px; */
	max-width: 780px;
	margin: 0 auto; /* 中央配置 */
}

.paging_list {
	padding: 0.5rem 0 0.5rem 0;
}
.paging_list p {
	margin:0 0 0 0;

	color: #444444; /* 文字色 */
	font-size: 90%; /* 文字サイズ */
}

.title {
	padding: 0.3rem 0 0.3rem 0;
	background-color: #4169e1; /* 背景色 */
	display: flex;/* 直下の要素を並列指定 */
	vertical-align: middle; /* 文字を垂直方向中央 */
}
.title h1{
	margin:0 0 0 0.8rem;
	font-size: 120%; /* 文字サイズ */
	font-weight: bold;
	color: #FFFFFF; /* 文字色 */
}

#target_anker_next_match {
	text-align: center;
	font-weight: bold;
}

#target_anker_next_match .jumpbutton {
	display: inline-block;
	padding: .6em .6em .6em 3em;
	margin: 0 0 1em;
	position: relative;
	background: #4169e1;
	font-size: 12.5px;
	border: .1875em solid #FFFFFF;
	border-radius: 0px;
	cursor: pointer;
}
#target_anker_next_match .jumpbutton::before {
	position: absolute;
	content: '\f103'; /*アイコンのユニコード*/
	font-family: 'Font Awesome 5 Free';
	font-size: 1.6em; /*サイズ*/
	top: 50%;
	right: auto;
	left: .4em;
	bottom: auto;
	transform: translateY(-50%);
}
#target_anker_next_match .jumpbutton:hover {
	color: #4169e1;
	background: #FFFFFF;
	border-color: #4169e1;
}
#target_anker_next_match a:link {
	color: #FFFFFF; /* リンクの文字色 */
}
#target_anker_next_match a:hover {
	color: #222; /* リンクの文字色 */
}

.matchday_contents {
	padding: 0 0 6 0;
}

.matchday_num {
	width: 100%;
	padding: 1rem 0 0 0;
}

.matchday_num h4 {
	width: 18%;
	height: 30px;
	margin: 0 0 0 0;
	line-height: 30px; /* heightと同値により文字を縦方向中央揃え */
	text-align: center;
	color: #FFFFFF; /* 文字色 */
	font-weight: bold;
	background-color: #4169e1; /* 背景色 */
}
.matchday_num span {
	margin: 0 0 0 0;
}
.matchday_num a {
	color: #FFFFFF; /* リンクの文字色 */
}

.match_day h5 {
	font-size: 110%;
	padding: 0.4rem 0 0 1.5rem; /*アイコン分のスペース*/
	margin:0 0 0.2rem 0;
	line-height: 1.5; /* 行の高さ */
	position: relative; /* 相対位置 */
}
.match_day h5:before {
	font-family: "Font Awesome 5 Free";
	content: "\f274"; /*アイコンのユニコード*/
	position: absolute; /*絶対位置*/
	font-size: 1.5em; /*サイズ*/
	left: 0; /*アイコンの位置*/
	top: 0; /*アイコンの位置*/
	color: #4169e1; /*アイコン色*/
}

.match_schedule_table {
	width: 100%;
	background-color: #FFFFFF;
	border-collapse: collapse;
	table-layout: fixed;
	margin: 0px 2px 2px 0px;
}
.match_schedule_table ul {
	margin: 0px 0px 0px 0px;
}
.match_schedule_table li {
	list-style-type: none;
}

.table_tr_set1 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.table_tr_set2  {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.td_set1 {
	font-size: 1rem;
	font-weight: 500; /* 文字の太さ */
	text-align: right; /* 文字を右寄せ */
	vertical-align: middle; /* 文字を垂直方向中央 */
}

.td_set2 {
	width: 70px;
	font-size: 24px;
	text-align: right; /* 文字を左寄せ */
	font-weight: bold; /* 文字を太字 */
	vertical-align: middle; /* 文字を垂直方向中央 */
}

.td_set3 {
	font-size: 1rem;
	font-weight: 500; /* 文字の太さ */
	text-align: left; /* 文字を右寄せ */
	vertical-align: middle; /* 文字を垂直方向中央 */
}

.td_set4 {
	width: 180px;
	font-size: 10px;
	text-align: left; /* 文字を中央寄せ */
	font-weight: normal; /* 文字は通常 */
	vertical-align: middle; /* 文字を垂直方向中央 */
}

.td_set5 {
	width: 80px;
	font-size: 12px;
	text-align: center; /* 文字を中央寄せ */
	font-weight: normal; /* 文字は通常 */
	vertical-align: middle;

	padding: 0 0 0 0;
}
.td_set5 ul {
	padding: 0 0 0 0;
}

.td_set6 {
	width: 70px;
	font-size: 24px;
	text-align: left; /* 文字を左寄せ */
	font-weight: bold; /* 文字を太字 */
	vertical-align: middle; /* 文字を垂直方向中央 */
}

.td_set7 {
	padding: 0 0 0.2rem 0;
	margin: 0 0 0 0;
	background-color: #FFFFFF;

	font-size: 0.7rem;
	text-align: center; /* 文字を中央寄せ */
}

#match_state {
	font-size: 10px;
}

#time_and_date_undecided {
	font-size: 10px;
}

.table_title {
	padding: 1rem 0 0.3rem 0;
	display: flex;/* 直下の要素を並列指定 */
	vertical-align: middle; /* 文字を垂直方向中央 */
}
.table_title h2{
	margin:0 0 0 0;
	padding: 0.3rem 0.8rem 0.3rem 0.8rem;
	font-size: 120%; /* 文字サイズ */
	font-weight: bold;
	color: #FFFFFF; /* 文字色 */
	background-color: #4169e1; /* 背景色 */
}
.table_caution p {
	margin:0 0 0 0;
	font-size: 90%; /* 文字サイズ */
	text-align: right;
}

.footer_contents {
	height: 76px;
	margin: 0 auto; /* 中央配置 */
	position: relative; /* 相対位置への配置 */
	background-color: #4169e1; /* 背景色 */
	display: flex;/* 直下の要素を並列指定 */
	color: #FFFFFF; /* 文字色 */
	align-items: center;
	justify-content: center;
}
.footer_text p {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-size: 90%;
}

